<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".MainApplication"
        android:appCategory="productivity"
        android:icon="@drawable/ic_stat_name"
        android:label="Swift Task Tracker"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="o">
        <activity
            android:name=".createTaskFromIntentActivity.CreateTaskFromIntentActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter android:label="@string/new_task_from_external_source">
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".createTaskActivity.CreateTaskActivity"
            android:exported="false"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".taskListActivity.TaskListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>